* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #0f172a;
  color: white;
}

/* NAVBAR */
nav {
  display: flex;
  justify-content: space-between;
  padding: 15px 20px;
  background: #020617;
  flex-wrap: wrap;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 15px;
}

nav a {
  color: white;
  text-decoration: none;
}

/* HERO */
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px 20px;
  gap: 30px;
}

.hero span {
  color: #38bdf8;
}

.hero img {
  width: 220px;
  border-radius: 50%;
  border: 4px solid #38bdf8;
}

/* SECTIONS */
section {
  padding: 50px 20px;
  max-width: 1000px;
  margin: auto;
}

h2 {
  margin-bottom: 20px;
  color: #38bdf8;
}

/* SKILLS */
.skills-list {
  list-style: disc;
  padding-left: 20px;
}

.skills-list li {
  background: #4b646b;
  margin-bottom: 12px;
  padding: 15px;
  border-radius: 8px;
}

/* EDUCATION & CERTIFICATIONS */
.edu-card,
.cert-card {
  display: flex;
  gap: 20px;
  align-items: center;
  background: #1e293b;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 15px;
}

.edu-card img,
.cert-card img {
  width: 70px;
  background: white;
  padding: 8px;
  border-radius: 10px;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 15px;
  background: #020617;
  font-size: 14px;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  nav ul {
    flex-direction: column;
    width: 100%;
    margin-top: 10px;
  }

  .hero {
    flex-direction: column;
    text-align: center;
  }

  .edu-card,
  .cert-card {
    flex-direction: column;
    text-align: center;
  }
}
