* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: #0f172a;
  color: #e5e7eb;
}

/* NAVBAR */
nav {
  position: fixed;
  top: 0;
  width: 100%;
  background: #020617;
  display: flex;
  justify-content: space-between;
  padding: 15px 40px;
  z-index: 100;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

nav a {
  color: #e5e7eb;
  text-decoration: none;
}

/* HERO */
.hero {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 80px;
}

.hero-content {
  max-width: 500px;
  animation: slideLeft 1.2s ease forwards;
}

.hero span {
  color: #38bdf8;
}

.hero-image img {
  width: 280px;
  height: 280px;
  border-radius: 50%;
  border: 6px solid #38bdf8;
  animation: float 4s ease-in-out infinite;
}

/* BUTTON */
.btn {
  display: inline-block;
  margin-top: 15px;
  padding: 10px 25px;
  background: #38bdf8;
  color: black;
  text-decoration: none;
  border-radius: 5px;
}

/* SECTIONS */
.section {
  padding: 100px 80px;
}

.light {
  background: #020617;
}

/* SKILLS */
/* SKILLS SECTION */
.skills-section {
  padding: 60px 20px;
  max-width: 900px;
  margin: auto;
}

.skills-section h2 {
  margin-bottom: 20px;
  color: white;
}

/* Skills list style */
.skills-list {
  list-style-type: disc;
  padding-left: 20px;
}

.skills-list li {
  background-color: #4b646b;   /* similar to your screenshot */
  color: #ffffff;
  padding: 15px 20px;
  margin-bottom: 12px;
  border-radius: 8px;
  line-height: 1.6;
  font-size: 16px;
}

.skills-list strong {
  color: #ffffff;
}


/* EDUCATION & CERTIFICATIONS */
.edu-card,
.cert-card {
  display: flex;
  gap: 20px;
  align-items: center;
  background: #1e293b;
  padding: 20px;
  border-radius: 12px;
  margin-bottom: 20px;
  transition: transform 0.3s ease;
}

.edu-card img,
.cert-card img {
  width: 80px;
  height: 80px;
  background: white;
  padding: 8px;
  border-radius: 10px;
  object-fit: contain;
}

.edu-card:hover,
.cert-card:hover {
  transform: translateY(-8px);
}

/* PROJECTS */
.project-card {
  background: #1e293b;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 20px;
  background: black;
}

/* ANIMATIONS */
@keyframes slideLeft {
  from { opacity: 0; transform: translateX(-60px); }
  to { opacity: 1; transform: translateX(0); }
}

@keyframes float {
  0% { transform: translateY(0); }
  50% { transform: translateY(-15px); }
  100% { transform: translateY(0); }
}

/* SCROLL REVEAL */
.reveal {
  opacity: 0;
  transform: translateY(60px);
  transition: all 1s ease;
}

.reveal.active {
  opacity: 1;
  transform: translateY(0);
}
